.activity-wrapper {
  position: absolute;
  inset: 0;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.idle-screen {
  position: absolute;
  inset: 0;
  background: radial-gradient(circle, #101c3d, #050914);
  display: flex;
  justify-content: center;
  align-items: center;
}

.idle-text {
  color: white;
  font-size: 2.5rem;
  animation: breathe 3s infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes breathe {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}
